[Desktop Entry]
Categories=X-lernstick;
Comment=Manage Lernstick storage media
Comment[de]=Lernstick-Speichermedien verwalten
Exec=dlcopy.user
Icon=/usr/share/icons/dlcopy.png
Name=Storage media management
Name[de]=Speichermedienverwaltung
StartupNotify=true
StartupWMClass=ch-fhnw-dlcopy-DLCopy
Type=Application
