[Desktop Entry]
Categories=X-lernstick;
Comment=Install system to USB flash drives or to a DVD image
Comment[de]=Das System auf USB-Sticks oder in ein DVD-Abbild installieren
Exec=su-to-root -X -c /usr/bin/dlcopy_pu
Icon=/usr/share/icons/dlcopy.png
Name=Storage media management
Name[de]=Speichermedienverwaltung
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Type=Application
