[Desktop Entry]
Categories=X-lernstick;
Comment=Install system to USB flash drives or to a DVD image
Comment[de]=Das System auf USB-Sticks oder in ein DVD-Abbild installieren
Exec[$e]=su-to-root -X -c /usr/bin/dlcopy
Icon=/usr/share/icons/dlcopy.png
Name=lernstick installation
Name[de]=lernstick-Installation
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Type=Application
