.h1{
    -fx-font-size: 18px;
    -font-style: bold;
}

.h2{
    -fx-font-size: 16px;
    -font-style: bold;
}

.h3{
    -fx-font-size: 14px;
    -font-style: bold;
}

.label{
    -fx-font-size: 12px;
}

.button{
    -fx-font-size: 12px;
    -font-style: bold;
}

.textfield{
    -fx-font-size: 12px;
}