.h1{
	-fx-font-size: 36px;
	-font-style: bold;
}

.h2{
	-fx-font-size: 32px;
	-font-style: bold;
}

.h3{
	-fx-font-size: 28px;
	-font-style: bold;
}

.label{
	-fx-font-size: 24px;
}

.button{
	-fx-font-size: 24px;
}

.textfield{
	-fx-font-size: 24px;
}