.root {
    -fx-background-color: #353535;
}

.cell {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-text-fill: #EEEEEE;
}

.label {
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.labelwraped {
    -fx-wrap-text: true;
}

.labelcenter {
    -fx-alignment: center;
}

.labelselected {
    /*-fx-background-color: #494949;*/
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-text-fill: #EEEEEE;
}

.list-cell:odd{
    -fx-background-color: #494949;
}

.list-cell:selected{
    -fx-background-color: #15539E;
}

.list-view{
    -fx-background-color: #3C3C3C;
    -fx-text-fill: #EEEEEE;
}

.button {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: #EEEEEE;
    -fx-border-color: #282828;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #494949;
    -fx-border-color: #282828;
}

.button:pressed {
    -fx-background-color: #494949;
    -fx-border-color: #1F76E1;
}

.check-box {    
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.check-box .box {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-border-width: 2;
}

.check-box:selected .box {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #494949;
    -fx-border-color: #282828;
}

.radio-button{
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.radio-button .radio{
    -fx-background-color: #494949;
}

.radio-button:selected .radio{
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #494949;
    -fx-background-insets: 0;
}

.radio-button:selected .radio .dot{
    -fx-background-color: #EEEEEE;
    -fx-background-insets: 0;
}

.table-view {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-text-fill: #EEEEEE;
}

.table-view .column-header {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-text-fill: #EEEEEE;
}

.text-field {
    -fx-background-color: #3C3C3C;
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.text-field:focused {
    -fx-background-color: #494949;
    -fx-border-color: #1F76E1;
}

.text-area {
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.text-area .content {
    -fx-background-color: #353535;
    -fx-font-family: "Cantarell";
    -fx-text-fill: #EEEEEE;
}

.pane {
    -fx-border-width: 3;
    -fx-border-color: #282828;
    -fx-border-radius: 5;
}

.borderpane {
    -fx-background-color: #353535;
}

.navigation {
    -fx-alignment: center;
}

.navigationfocused {
    -fx-alignment: center;
    -fx-background-color: #494949;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #3C3C3C;
}

.toggle-button {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #282828;
    -fx-border-width: 2;
}

.toggle-button:selected {
    -fx-background-color: #494949;
    -fx-border-color: #282828;
}

.switchButton {
    -fx-background-color: #3C3C3C;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.switchButton:selected {
    -fx-background-color: #1F76E1;
}

.switchButtonInline {
    -fx-background-radius: 1em;
    -fx-background-color: #1F76E1;
    -fx-text-fill: #EEEEEE;
}

.switchButtonOn {
    -fx-background-color: #1F76E1;
}

.switchButtonOff {
    -fx-background-color: #3C3C3C;
}

.combo-box {
    -fx-background-color: #3C3C3C;
    -fx-border-color: transparent;
}

.combo-box:focused {
    -fx-background-color: #494949;
    -fx-border-color: #1F76E1;
}

.combo-box .list-cell {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #3C3C3C;
    -fx-border-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: #494949;
}

.target-na, .target-ro {
    -fx-text-fill: #E03F1F;
}

.target-rw {
    -fx-text-fill: #26BF0B;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab{
    -fx-background-color: #494949 ;
}

.tab-pane .tab-label{
    -fx-text-fill: #EEEEEE;
}

