Source: dlcopy
Section: misc
Priority: extra
Maintainer: Ronny Standtke <Ronny.Standtke@gmx.net>
Build-Depends: debhelper (>= 7), ant-optional, junit, java-sdk
Standards-Version: 3.8.0
Homepage: http://www.imedias.ch/lernstick

Package: dlcopy
Architecture: all
Conflicts: dlcopy-exam
Depends: dlcopy-common (>= 201403091913)
Description: an application to copy Debian Live to other storage media
 This is a small application that copies Debian Live to other storage media like
 USB flash drives, USB hard drives or SD memory cards. It has hot-plug support
 for target storage media, allows the specification of an exchange partition and
 provides a graphical copy progress feedback.
 This is the version for the standard Lernstick distribution.

Package: dlcopy-exam
Architecture: all
Conflicts: dlcopy
Depends: dlcopy-common
Description: an application to copy Debian Live to other storage media
 This is a small application that copies Debian Live to other storage media like
 USB flash drives, USB hard drives or SD memory cards. It has hot-plug support
 for target storage media, allows the specification of an exchange partition and
 provides a graphical copy progress feedback.
 This is the version for the Lernstick exam environment distribution.

Package: dlcopy-common
Architecture: all
Replaces: dlcopy (<< 201403091913)
Breaks: dlcopy (<< 201403091913)
Depends: auto-gdk-scale, java8-runtime, squashfs-tools, cpio, xorriso, syslinux, extlinux, syslinux-common, dbus, libdbus-java, libmatthew-debug-java, libunixsocket-java, parted, policykit-1, exfatprogs, fatattr, isolinux
Description: an application to copy Debian Live to other storage media
 This is a small application that copies Debian Live to other storage media like
 USB flash drives, USB hard drives or SD memory cards. It has hot-plug support
 for target storage media, allows the specification of an exchange partition and
 provides a graphical copy progress feedback.
 This package contains the files common to the standard and exam environment
 versions.
